.btn {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
  background-color: gray;
  color: white;
  font-size: 1.3rem;
}

.btn:hover {
  background-color: rgb(188, 188, 188);
}

.equal {
  background-color: rgba(255, 99, 71, 0.8);
}

.equal:hover{
  background-color: rgb(255, 127, 104);
}

.delete {
  font-size: 0.7rem;
}