.btn {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
}

.equal {
  background-color: rgba(255, 99, 71, 0.8);
}

.equal:hover{
  background-color: rgba(255, 99, 71, 1);
}

.delete {
  font-size: 0.7rem;
}