.container {
  margin-top: 3rem;
  padding: 1rem;
  border: solid white;
}

.btnDisplayWrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.numGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.signGrid {
  display: grid;
  grid-template-columns: 1fr;
}

.calcWrapper {
  margin: 0.5rem;
  height: 3rem;
  width: 1fr;
  background-color: rgb(186, 186, 186);
  display: flex;
  align-items: center;
}

.deletePosition {
  display: flex;
  justify-content: flex-end;
}