.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: black;
}

.title {
  text-decoration:underline;
  color: white;
}